<!-- <div class="container">
    <app-child></app-child>
    <app-assignments></app-assignments>
</div> -->
<div class="container">
  <p>Add new servers or blueprints!</p>
  <app-cockpit (newElementAdded)="onNewElementAdded($event)"></app-cockpit>
  <div class="col-xs-12">
    <app-server-element [element]="element" *ngFor="let element of elementList"></app-server-element>
  </div>
</div>

<br />

<div class="container">
  <h2 appBasicHighlight appBetterHighlight>Assignment 4</h2>
  <app-game-control (number)="getEmittedNum($event)"></app-game-control>
  <div class="row mt-4">
    <div class="col-6">
      <!-- <app-even [list]="evenList"></app-even> -->
      <app-even *ngFor="let num of evenList">
        <p [ngStyle]="{ color: 'green' }">Even - {{ num }}</p>
      </app-even>
    </div>
    <div class="col-6">
      <app-odd *ngFor="let num of oddList" [number]="num"></app-odd>
    </div>
  </div>
  <h3 appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">Just hover over me!!!</h3>
<div [ngSwitch]="value">
  <p *ngSwitchCase="5">Value is 5</p>
  <p *ngSwitchCase="15">Value is 15</p>
  <p *ngSwitchCase="25">Value is 25</p>
  <p *ngSwitchDefault>Value is default</p>
</div>
</div>

